<mat-nav-list>
  <div class="profile-card">
    <div class="header">
        <h2>Apito Technology</h2>
        <h4>support@apito.in</h4>
    </div>
    <img src="assets/images/apito_new.jpeg" alt="Trident">
</div>

<mat-divider></mat-divider>

<!-- <h2 matSubheader>Pages</h2> -->

<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a> -->
<a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Inventory</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/additem">Add Item</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/addwarehouse">Add Warehouse </a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/warehouselist">Warehouse List</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/audititem">Audit </a>
<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Logout</a> -->


<mat-divider></mat-divider>



<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
</a> -->
</mat-nav-list>

